{% load static %}

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link href="https://bootswatch.com/5/flatly/bootstrap.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
<!-- JavaScript -->
<script crossorigin="anonymous" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="wrapper d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg bg-primary justify-content-center">
<a class="navbar-brand main-heading text-white" href="{% url 'store' %}"> 
                    GK Shop
            </a>
<button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarCollapse">
<ul class="navbar-nav me-auto mb-2 mb-md-0">
<li class="nav-item dropdown">
<a aria-expanded="false" class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                            Categories
                        </a>
<ul aria-labelledby="navbarDropdown" class="dropdown-menu">
<li>
<a class="dropdown-item" href="{% url 'store' %}"> All </a>
</li>
                            {% for category in all_categories %}
                            <li>
<a class="dropdown-item" href="{{category.get_absolute_url}}"> {{ category.name | capfirst }} </a>
</li>
                            {% endfor %}
                        </ul>
</li>
</ul>
</div>
<div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
<ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
<a class="btn btn-alert navbar-btn text-white" href="{% url 'dashboard' %}" type="button"> <i aria-hidden="true" class="fa fa-home"></i>   Dashboard </a>
</li>
                    {% else %}
                        <li class="nav-item">
<a class="btn btn-alert navbar-btn text-white" href="{% url 'register' %}" type="button"> Register </a>
</li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
<a class="btn btn-alert navbar-btn text-white" href="{% url 'user-logout' %}" type="button"> <i aria-hidden="true" class="fa fa-sign-out"></i>   Logout </a>
</li>
                    {% else %}
                        <li class="nav-item">
<a class="btn btn-alert navbar-btn text-white" href="{% url 'my-login' %}" type="button"> Login </a>
</li>
                    {% endif %}
                         
                    <li class="nav-item">
<a class="btn btn-outline-secondary" href="{% url 'cart-summary' %}" role="button" type="button">
<i aria-hidden="true" class="fa fa-shopping-cart"></i>
                             
                            <div class="d-inline-flex" id="cart-qty">
                                {% with qty_amount=cart|length %}
                                    {% if qty_amount &gt; 0 %}
                                        {{ qty_amount }}
                                    {% else %}
                                        0
                                    {% endif %}
                                {% endwith %}
                            </div>
</a>
</li>
                         
                </ul>
</div>
</nav>
<div class="flex-grow-1">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <h6 class="alert alert-success text-center" id="message-timer"> <i aria-hidden="true" class="fa fa-sign-out"></i>   {{message}} </h6>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <h6 class="alert alert-danger text-center" id="message-timer"> <i aria-hidden="true" class="fa fa-exclamation-triangle"></i>   {{message}} </h6>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <h6 class="alert alert-success text-center" id="message-timer"> <i aria-hidden="true" class="fa fa-check-circle"></i>   {{message}} </h6>
                {% endif %}
            {% endfor %}

            {% block content %} 
            {% endblock %}
        </div>
<footer>
<div class="container">
<p>GK Shop - All rights reserved</p>
<p>g.kulys@panko.lt - 2024</p>
</div>
</footer>
</div>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>
