/* static/shop/styles.css */

body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff !important;
}

.navbar-nav .nav-link {
    color: #fff !important;
}

.jumbotron {
    background-color: #e9ecef;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.categories-section .card {
    border: none;
    background-color: #f8f9fa;
    height: 350px; /* Fixed height for category cards */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures content is spaced properly */
}

.categories-section .card img {
    width: 100%;
    height: 200px; /* Fixed height for category images */
    object-fit: contain; /* Ensures the image fits within the specified height and width without cropping */
}

.categories-section .card-body {
    text-align: center;
    padding: 1rem;
}

.new-products-section .card {
    margin-bottom: 2rem;
    border: none;
    background-color: #fff;
    height: 400px; /* Fixed height for product cards */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures content is spaced properly */
}

.new-products-section .card img {
    width: 100%;
    height: 250px; /* Fixed height for product images */
    object-fit: contain; /* Ensures the image fits within the specified height and width without cropping */
}

.new-products-section .card-body {
    text-align: center;
    padding: 1rem;
}

.product-detail {
    margin-top: 20px;
}

.product-detail .img-fluid {
    max-width: 100%;
    height: auto;
}

.product-detail h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.product-detail p {
    margin-bottom: 1rem;
}

.product-detail .form-group {
    margin-bottom: 1rem;
}

.reviews-section {
    margin-top: 2rem;
}

.reviews-section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.reviews-section .review {
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.reviews-section h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.reviews-section form {
    margin-top: 1rem;
}
