<!-- shop/templates/shop/product_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'shop/styles.css' %}">
</head>
<body>
    <h1>Products</h1>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'shop:product_detail' product.id %}">{{ product.name }}</a>
                <p>{{ product.price }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
